* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.simmmer {
  text-align: center;
  margin: 200px;
  margin-top: 80px;

  padding: 40px;
  font-size: 28pt;
  background-color: white;
}

.animalimg {
  max-width: 180px;
}

input {
  font-size: 20pt;
}

.img {
  margin: 20px;
}
